        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        .bergulir {
            position: relative;
            right: 0;
            bottom: 0;
            width: 50%; 
            height: 50%;
        }
        @keyframes scroll {
            0% { transform: translateY(700%); }
            100% { transform: translateY(-700%); }
        }
		
#musik {
  width: 300px;
  background-image: url('fixx.gif');
  border: 0px solid black;
  padding: 10px;
}

