#tekssurat {
	z-index:2;
	position: absolute;
    top: 0;
    left: 0; 
	font-size:15;
}

#gambarsuratt{
	position: relative;
}

@keyframes memantul {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

#surat {
  animation: memantul 2s infinite;
}

#umur {
  font-size:20;
}

#sapaanindo1, #sapaanindo2, #lanjutanindo1, #lanjutanindo2, #sapaanjepang1, #sapaanjepang2, #lanjutanjepang1, #lanjutanjepang2, #klip{
  word-wrap: break-word;
  font: 40 20px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  
}

@keyframes goyang {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-15px); }
}

#surat2 {
  animation: goyang 2s infinite;
 
 
